# Visual Studio
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates

# .NET
*.exe
*.dll
*.pdb
*.suo
*.user
*.userosscache
*.sln.docstates
appsettings.Development.json

# Node / Angular
node_modules/
dist/
.angular/
.npm/
npm-debug.log
yarn-error.log

# OS Files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Deployment / Temp
/tmp/
*.sql
*.webp
*.png
C:\tmp\
eb_envs.json
